/dist
.nyc_output
node_modules
/coverage
/fixtures/*
!/fixtures/async-throttle
!/fixtures/find-cycle
!/fixtures/log4jcore
!/fixtures/react-view-slider
!/fixtures/react-view-slider-ts
/fixtures/*/actual
